html {
  height: 100%;
}

header {
  background-color:rgb(29, 29, 29) !important;
  width: 100%;
  padding: 4%;
  font-size: x-large; 
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background: black;
  margin: 0;
  color: white;
  white-space: nowrap;
}

h1 {
  margin: 0;
  padding: 15px;
  font-size: 400%;
}

#container {
  text-align: center;
  margin: 0;
}

#txt1 {
  color : black;
  background-color: white;
}

#idScan::placeholder{
  font-size: x-large; 
  text-align: center;
  background-color: lightgray; 
  border-radius: 5px;
  color: grey;
}

hr {
  width: 100%;
  border-style: inset; 
  border-width: 3px; 
  border-color: white;
  border-radius: 55px; 
}

#idScan {
  border-radius: 15px;
  box-shadow: none !important;
}
#outputDiv {
  font-size: 30px;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.btn-group {
  font-size: 30px;
  align-items: center; 
  padding: 10px;
}

input {
  background-color: lightgray;
  text-align: center;
}

button {
  font-size: 20px;    
  font-weight: bold;
  padding-left: 30px; 
  padding-right: 30px; 
  width: 100%; 
  padding: 15px;   
  text-align: center;     
  background-color: white !important;
  color : black !important; 
  border-radius: 15px 5px; 
}

a{
  color: #f57c00; 
  text-decoration: underline;  
}

#tableDiv {
  font-size: 24px;
}

table input {
  font-weight: bold !important;
  color: black !important; 
}

table input::placeholder {
  color: black;
}

table {
  color: black;
  border-radius: 10px; 
  padding: 12px; 
}

th {
  text-align: center;
}

.newQuantityClass {
  background-color: aliceblue;
  color: orange;
}

 .lastrow {
   background-color: lightgray;
 }


 .lastrow {
  background-color: darkgrey;
}

.card { 
 background-color: lightgrey; 
 color: black;
 padding: 1px; 
}

.card-panel {
 background-color: lightgrey; 

}
