html {
  height: 100%;
}

header {
  background-color: #3cffbe !important;
  width: 100%;
  padding: 4%;
  font-size: x-large;
  
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background: whitesmoke;
  margin: 0;
  color: #2962ff;
  white-space: nowrap;
}

h1 {
  margin: 0;
  padding: 15px;
  font-size: 400%;
}

#container {
  text-align: center;
  margin: 0;
}

#txt1 {
  color : black;
  background-color: white;
}

#idScan::placeholder{
  font-size: x-large; 
  text-align: center;
  background-color: wheat; 
  border-radius: 5px;
  color: grey;
}

hr {
  width: 100%;
  border-style: inset; 
  border-width: 3px; 
  border-color: #2962ff;
  border-radius: 55px;
  background-color: black; 
}

#outputDiv {
  font-size: 30px;
  align-items: center;

  background-color: aliceblue;
  padding: 10px;
}

.btn-group {
  font-size: 30px;
  background-color: aliceblue;
  align-items: center;
  padding: 10px; 
}

input {
  text-align: center;
}

button {
  font-size: 20px;    
  font-weight: bold;
  padding-left: 30px; 
  padding-right: 30px; 
  width: 100%; 
  padding: 15px;   
  text-align: center;     
  background-color: wheat !important; 
  color: black !important;
  border-radius: 15px 5px; 
}

a{
  color: #f57c00; 
  text-decoration: underline;  
  text-transform: uppercase;
}

#tableDiv {
  font-size: 24px;
}

table input {
  font-weight: bold !important;
  color: black !important; 
}

table input::placeholder {
  color: black;
}

table {
  color: black;
  padding: 12px; 
}

th {
  text-align: center;
}

.newQuantityClass {
  background-color: aliceblue;
  color: orange;
}

input:focus {
  outline: #2962ff !important; 
  border-color: white; 
}
.lastrow {
   background-color: #00CED1;
   font-size: large;
 }

.card { 
  background-color: #B2FFFF; 
  padding: 1px; 
}

.card-panel {
  background-color: #B2FFFF; 

}

#loaderContainer{
  display: flex;
  justify-content: center;
}

.loader {
  display: none; 
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}