html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background: black;
  margin: 0;
  color:whitesmoke;
}

h1 {
  margin: 0;
  padding: 15px;
  font-size: 350%;
}

#container {
  text-align: center;
  margin: 0;
}

#txt1 {
  color : black;
  background-color: white;
}

#idScan {
  font-size: xx-large; 
  text-align: center;
}

#outputDiv {
  font-size: 30px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: grey;
  padding: 10px;
  color : blue; 
}

input {
  text-align: center;
  size: 4px;
}

button {
  font-size: 25px;    
  padding-left: 30px; 
  padding-right: 30px; 
  width: 100%; 
  padding: 20px; 
  text-align: center;    
}

label {
  display: inline-block;
  width: 180px;
  font-size: x-large;
}

.classLoc {
  margin-left: 5%; 
}